<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Buy Page</title>
</head>

<body>

<h1>Buy A Package</h1>

<form class="BuyForm" action="GoToBuyPage" method="POST" autocomplete="off">
		
		<h2>Buy</h2>
		
		<p th:text="${errorMsg}" class="errorMsg"></p>
		<p th:text="${regSucc}" class="correctMsg"></p>
		
		<label for="chosen_pack">Choose a package:</label>
		<p>
    	<select name="chosen_pack" class="package-control" id="dropPackage">
    	<option th:each="package : ${session.packages}" th:value="${package.getId()}" th:text="${package.getName()}"></option>
    	</select>
		</p>
		
        <label for="chosen_months">Choose the number of months:</label>
        <p>
        <input name="chosen_months" type="radio" value="12">
  		<label for="12">12</label><br>
  		<input type="radio" id="twenty-four_months" name="chosen_months" value="24">
  		<label for="24">24</label><br>
  		<input type="radio" id="thirty-six_months" name="chosen_months" value="36">
  		<label for="36">36</label>
  		</p>
  		
  		<p>
  		<label for="start_date">Choose starting date:</label>
		<input type="date" id="startdate" name="start_date"> 
  		</p>
  		
  		<p>
  		<label for="chooseproducts">Choose some products (if you like):</label>
		<select id="chooseproducts" name="chosen_products" size="${session.products.size()}" multiple>
  		<option th:each="prod: ${session.products}" th:value="${prod.getId()}" th:text="${prod.getName()}"></option>
		</select> 
  		</p>
  		
		<p><input class="buttonStyle" type="submit" value="Confirm"><br></p>
  		
		
</form>

</body>

</html>