<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Buy Page</title>
</head>

<body>

<h1>Buy A Package</h1>

<form class="LoginForm" action="CheckLogin" method="POST" autocomplete="off">
		<h2>Buy</h2>
		<p th:text=" ${errorMsg}" class="errorMsg"></p>
		<p th:text=" ${regSucc}" class="correctMsg"></p>
		<p>
		Choose the package
		<select name = "dropdown" >
            <option th:each="package: ${packages}" value = "${package.getId()}" selected>Package Id</option>
         </select>
         </p>
         <p>
        Choose the number of months</p>
        <p>
        <input type="radio" id="twelve_months" name="num_months" value="12">
  		<label for="12">12</label><br>
  		<input type="radio" id="twenty-four_months" name="num_months" value="24">
  		<label for="24">24</label><br>
  		<input type="radio" id="thirty-six_months" name="num_months" value="36">
  		<label for="36">36</label>
  		</p>
		<p>Choose the optional products</p>
		<p>
		<input type="checkbox" id="productId" name="prdouct" value="Bike">
		<label for="vehicle1"> I have a bike</label><br>	
		</p>
	</form>

</body>

</html>