<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Confirmation Page</title>
</head>

<body>

<h1>Confirm the Order</h1>

<div align="left">

<dl>

<dt>Order ID:</dt>
<dd> <span th:text="${session.order.getId()}">Order ID</span> </dd>
<dt>Service Package Name</dt>
<dd> <span th:text="${session.order.getValidity().getPackage().getName()}">Service Package Name</span> </dd>
<dd> <span th:text="${session.order.getValidity().getMonthsNumber()}">Number of months</span> Months </dd>
<dt>Products:</dt>
<dd th:each="p: ${session.order.getProducts()}"> <span th:text="${p.getName()}">Product Name</span> </dd>
<dt> Yearly Cost:</dt>
<dd> <span th:text="${session.order.getTotalValue()}">Total Cost</span> </dd>

</dl>

</div>

<div th:if=${session.user==null} align="left">
		<a th:href="@{/GoToLandingPage}">Login/Register</a>
</div>

<div th:unless=${session.user==null} align="left">
<form class="ConfirmForm" action="GoToConfirmationPage" method="POST" autocomplete="off">

		<p th:text="${errorMsg}" class="errorMsg"></p>
		
		<label for="success">Success or failure:</label>
		<p>
    	<select name="success" class="success-control" id="dropPackage">
    	<option th:value="true" th:text="success"></option>
    	<option th:value="false" th:text="failure"></option>
    	</select>
		</p>
  		
		<p><input class="buttonStyle" type="submit" value="Confirm"><br></p>
  		
		
	</form>
	</div>
</html>