<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Telco Home</title>
<!--
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
	-->
</head>

<body>

	<h1>Welcome to the Telco service Home Page</h1>
	
	<div>
	
	<p th:text="${errorMsg}" class="errorMsg"></p>
	<p th:text="${successMsg}" class="successMsg"></p>
	
	</div>
	
	<div th:if=${session.user==null} align="right">
		<a th:href="@{/GoToLandingPage}">Login</a>
	</div>
	<div th:unless=${session.user==null} align="right">
		<a th:text="${session.user.username}">Username</a>
		<a th:href="@{/Logout}">Logout</a>
	</div>

	<section>
	
		<div align="left">
		
		<h2>All the packages offered</h2>
		
		<dl th:each="package : ${packages}">
		
			<dt> <b> <span th:text="${package.getId()}"> ID </span> : <span th:text="${package.getName()}"> Name </span> </b> </dt>
			<dd th:each="validity : ${package.getValidityPeriods()}">	
			<span th:text="${validity.getMonthsNumber()}"> Months </span> Months:
			<span th:text="' ' + ${validity.getMonthlyFee()}"> Fee </span> &euro; per month
			</dd>
			
			<dt> <b>Services: </b> </dt>
			<dd th:each="service : ${package.getServices()}">
					<a th:if="${service.getServiceType().toString()=='fixed_phone'}"> Fixed Phone </a>
					<a th:if="${service.getServiceType().toString()=='mobile_phone'}">
					Mobile Phone:
						<span th:text="${service.getMinNumber()}"> Number Of minutes </span> MIN:
						<span th:text="${service.getMinFee()}"> Fee for Extra Minutes </span> &euro; per extra minute
						<span th:text="${service.getSmsNumber()}"> Number Of SMSs </span> SMS:
						<span th:text="${service.getSmsFee()}"> Fee for Extra SMSs </span> &euro; per extra SMS
					</a>
					<a th:if="${service.getServiceType().toString()=='fixed_internet'}">	
					Fixed Internet: 
					<span th:text="${service.getGBNumber()}"> Number Of GBs </span> GB:  
					<span th:text="${service.getGBFee()} "> Fee for Extra GBs </span> &euro; for any extra GB
					</a>
					<a th:if="${service.getServiceType().toString()=='mobile_internet'}">
					Mobile Internet: 
					<span th:text="${service.getGBNumber()}"> Number Of GBs </span> GB:
					<span th:text="${service.getGBFee()}"> Fee for Extra GBs </span> &euro; for any extra GB
					</a>		
			</dd>
			
			<dt> <b>Optional Products </b> </dt>
			<dd th:each="product : ${package.getProducts()}" >
				<span th:text="${product.getName()}">Product Name</span> : 
				<span th:text="${product.getMonthlyFee()}">Product Fee</span> &euro; per month
			</dd>
			
		</dl>
		
		</div>
		
	</section>
	
	<section>
	
	<a th:href="@{/GoToBuyPage}">Buy a package</a>
	
	</section>
		
	<section th:if="${session.user!=null and session.user.getInsolvent()}" >
	
	<h2 >All your rejected orders</h2>
		
		<ul th:each="order: ${session.user.getRejectedOrders()}">
			<li> ID: <span th:text="${order.getId()}">Order ID</span> </li>
			<li> Date: <span th:text="${order.getDate()}">Order Date</span> </li>
			<li> Hour: <span th:text="${order.getHour()}">Order Hour</span> </li>
			<li> Date of beginning: <span th:text="${order.getStart()}">Order Start</span> </li>
			<li> Service Package: <span th:text="${order.getValidity().getPackage().getId()}">Package ID</span></li>
			<li> Months: <span th:text="${order.getValidity().getMonthsNumber()}">Months</span> </li>
			<li th:each="prod : ${order.getProducts()}" > Chosen product:
				<span th:text="${prod.getName()}">Product</span>
			</li>  
			<li> Total cost per year: <span th:text="${order.getTotalValue()}">Order Value</span> </li>
		</ul>
		
		<form class="RetryOrder" action="GoToHomePage" method="POST" autocomplete="off">

		<p th:text="${errorMsg}" class="errorMsg"></p>
		<p th:text="${regSucc}" class="correctMsg"></p>
		
		<label for="chosen_order">Retry an order:</label>
		<p>
    	<select name="chosen_order" class="order-control" id="dropOrder">
    	<option th:each="order : ${session.user.getRejectedOrders()}" th:value="${order.getId()}" th:text="${order.getId()}"></option>
    	</select>
		</p>
  		
		<p><input class="buttonStyle" type="submit" value="Confirm"><br></p>
  		
		
		</form>
			
	</section>

</body>
</html>