
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Telco Home</title>
<!--
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
	-->
</head>

<body>
	<h1>Welcome to the Telco service Home Page</h1>

	<div align="right">
		<a th:href="@{/CheckLogin}">Login</a>
	</div>


	<section>
		<div align="left">
		<h2>All the packages offered</h2>
		
		<ul th:each="package : ${packages}">
		
			<li> <span th:text="${package.getId()}"> ID </span> : <span th:text="${package.getName()}"> Name </span> </li>
			
			<li th:each="validity : ${package.getValidityPeriods()}">
			
			<ul>
			
			<li> <span th:text="${validity.getMonthsNumber()}"> Months </span>
				months : <span th:text="${validity.getMonthlyFee()}"> Fee </span> euros per month</li>
			
			</ul> 
			
			<li th:each="service : ${package.getServices()}">
				<b>Service: </b>
				
				<ul>
					
					<li th:if="${service.getServiceType().toString()=='fixed_phone'}">
					
					Fixed Phone
					
					</li>
					
					<li th:if="${service.getServiceType().toString()=='mobile_phone'}">
					
					Mobile Phone
					
						<ul>
						
						<li> Minutes :<span th:text="${service.getMinNumber()}"> Number Of minutes </span> 
						/ <span th:text="${service.getMinFee()}"> Fee for Extra Minutes </span> euros per extra
						</li>
						
						<li> SMS :<span th:text="${service.getSmsNumber()}"> Number Of SMSs </span> 
						/ <span th:text="${service.getSmsFee()}"> Fee for Extra SMSs </span> euros per extra
						</li>
						
						</ul>
					
					</li>
					
					<li th:if="${service.getServiceType().toString()=='fixed_internet'}">
					
					Fixed Internet
					
						<ul>
						
						<li> GB :<span th:text="${service.getGBNumber()}"> Number Of GBs </span> 
						/ <span th:text="${service.getGBFee()}"> Fee for Extra GBs </span> euros per extra
						</li>
						
						</ul>
					
					</li>
					
					<li th:if="${service.getServiceType().toString()=='fixed_internet'}">
					
					Mobile Internet
					
						<ul>
						
						<li> GB :<span th:text="${service.getGBNumber()}"> Number Of GBs </span> 
						/ <span th:text="${service.getGBFee()}"> Fee for Extra GBs </span> euros per extra
						</li>
						
						</ul>
					
					</li>
					
				</ul>
			</li>
			
			
			<li th:each="product : ${package.getProducts()}" >
				<b>Optional Product:</b>
				<ul>
					<li><span th:text="${product.getName()}">Product Name</span></li>
					<li><span th:text="${product.getMonthlyFee()}">Product Fee</span> euros per month</li>
				</ul>
			</li>
		</ul>
			
		</div>
	</section>

</body>
</html>