<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Login (Employee)</title>
	<!-- <link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" /> -->
</head>
<body>
	<ul id="topbar"><li><a th:href="@{/Login}">Back</a></ul>
	<h1>Telco Service Application - Employee Login</h1>
	<form class="LoginForm" action="CheckLoginEmployee" method="POST" autocomplete="off">
		<h2>Employee Login</h2>
		<p th:text=" ${errorMsg}" class="errorMsg"></p>
		<p><input type="text" name="code" placeholder="Code" required><br></p>
		<p><input type="password" name="pwd" placeholder="Password" required><br></p>
		<p><input class="buttonStyle" type="submit" value="Login now"><br></p>
	</form>
</body>
</html>